<ion-header>
  <ion-toolbar>
    <ion-title>Create New Job Requisition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--todo use stepper to create initial job applicant Title, Position, pay rate if known, add standard federal forms to new hire package when position is filled. Add applicant list of applicants that interviewed -->
  <div class="container">
    <div class="row">
      <div class="col-md-">

      </div>
      <div class="col-md-8">
        <app-add-job-req [storeId]="storeId"></app-add-job-req>
      </div>
      <div class="col-md-3">

      </div>
    </div>

  </div>

</ion-content>
