<ion-header>
  <ion-toolbar>
    <ion-title>Questions for Applicant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div class="container container-table ion-padding-top">
    <div class="row vertical-center-row">
      <div class="text-center col-md-4 col-md-offset-4">
        <h3>Select Applicant From list or Register</h3>
        <button class="btn btn-outline-danger ion-margin-vertical" (click)="applicantIsNotRegistered()">Register</button>
   <button class="btn btn-light" (click)="applicantAlreadyRegistered()">Yes</button>

      </div>
    </div>
  </div>-->
  <span *ngIf="!isApplicantRegistered">
    <iframe id="typeform-full" width="100%" height="100%" frameborder="0" allow="camera; microphone; autoplay; encrypted-media;" src="https://l1ii9124kpx.typeform.com/to/n3E4WbMv?typeform-medium=embed-snippet"></iframe>
  </span>

</ion-content>
