
<div *ngIf="viewApplicants !=true">
  <p *ngIf="jobs.length <= 0" class="p-4">No Jobs for this Franchise Yet</p>
    <div class ="container-fluid">
      <div class="p-2">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Positions for (todo add store name)</span>
        </h3>
        <div class="d-flex flex-row">
          <ion-button class="mr-4" fill="outline" size="default" color="secondary" (click)="addJobRec()">Add Position</ion-button>
          <ion-button fill="outline" size="default" color="secondary" (click)="createOnboardingPacket()">Create Onboard Package</ion-button>
        </div>
       

      </div>
      <div class="card-body">
        <div class="card mb-5 mb-xl-8">
          <div>
            <div class="table-responsive">
              <table class="table align-middle gs-0 gy-4">
                <thead>
                <tr class="fw-bolder text-muted bg-light">
                 <!-- <th class="ps-4 min-w-300px rounded-start">Select</th>-->
              <!-- <th class="ps-4 min-w-300px rounded-start">Store ID</th>-->
                  <th class="ps-4 min-w-300px rounded-start">Job Title</th>
                  <th class="ps-4 rounded-start">Location</th>
                  <th class="ps-4 rounded-start">Position Active</th>
                  <th class="ps-4 rounded-start">Actions</th>

                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let job of jobs">
                  <!--  <td>
                      <div class="form-check form-check-sm form-check-custom form-check-solid">
                        <input type="checkbox" value="{{job.id}}" class="form-check-input widget-9-check">
                      </div>
                    </td>-->
                  <!--  <td>
                      <div class="d-flex align-items-center">
                       <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{job.position.storeId}}</a>
                      </div>
                    </td>-->
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{job.position.jobTitle}}</a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{job.position.addressId}}</a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{job.position.positionOpen}}</a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex flex-shrink-0">
                        <a class="text-center" (click)="getApplicants(job.id)" ><i class="fa fa-eye"></i><br><p>View Applicants</p></a>
                       <!-- <a (click)="seeApplicants(job.id)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fa fa-eye"></i> </a>
                        <a (click)="seeApplicants(job.id)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"><i class="fa fa-eye"></i> </a>-->
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="viewApplicants === true">
    <app-applicant-list (messageEvent)="receiveNavigationMessage($event)" [positionId]="positionId"></app-applicant-list>
  </span>



