// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

.cursor-pointer {
  cursor: pointer;
}

.field-err {
  font-size: 12px;
  color: #f1416c;
  margin: 0;
}