<div class="card" *ngIf="applicantData">
  <div class="card-header">
    <h3 class="card-title fw-bolder text-dark">Applicant Information</h3>

  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Legal Name: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicantData.name}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Contact Email: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicantData.email}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Contact Phone Number: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicantData.phoneNumber}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <form [formGroup]="interviewNotes">
          <label>Notes</label>
          <textarea class="form-control form-control-flush mb-3" auto-grow formControlName="interviewNotes" placeholder="Notes on the applicant"></textarea>
        </form>
        <div class="row">
          <ion-item>
            <ion-button>
              Save Notes
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-button>
              Cancel
            </ion-button>
          </ion-item>
        </div>

      </div>
    </div>
   <!-- <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <app-users-for-franchise></app-users-for-franchise>
        </div>
      </div>
    </div>-->


  </div>
</div>
