<div class="card" *ngIf="applicantData">
  <div class="card-header">
    <h3 class="card-title fw-bolder text-dark">Interview Notes</h3>

  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Legal Name: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicant.applicant.name}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Contact Email: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicant.applicant.email}}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Contact Phone Number: </label>
      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-800">{{applicant.applicant.phoneNumber}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <iframe id="typeform-full" width="100%" height="100%" frameborder="0" allow="camera; microphone; autoplay; encrypted-media;" src="https://l1ii9124kpx.typeform.com/to/ymrYCE3o?typeform-medium=embed-snippet"></iframe>
      <!--  <form [formGroup]="interviewNotes">
          <label>Notes</label>
          <textarea class="form-control form-control-solid" auto-grow formControlName="interviewNotes" placeholder="Notes on the applicant"></textarea>
        </form>-->


      </div>
    </div>
   <!-- <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <app-users-for-franchise></app-users-for-franchise>
        </div>
      </div>
    </div>-->


  </div>
</div>
