<ion-header>
  <ion-toolbar>
    <ion-title>Hiring Manager (connect native mailbox)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding-top">
    <div class="row">
      <div class="col-md-4">
        <a (click)="addJobRec()"><div  class="user-options">Create Job</div></a>
      </div>

      <div class="col-md-4">
        <a routerLinkActive="active" routerLink="/store/store-calendar"><div  class="user-options">Calendar</div></a>
      </div>
      <div class="col-md-4">
        <a routerLinkActive="active" routerLink="/store/store-interview"><div  class="user-options">Interview Someone</div></a>
      </div>
    </div>
  </div>

</ion-content>
