<div class="card card-custom">
  <div class="table-heading p-4">
    <div class="d-flex flex-row align-items-center">
      <button class="mr-3" *ngIf="appUserData.role === 'admin'" mat-raised-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </button>
      <h3 class="card-label m-0">Stores Listed By Franchise</h3>
    </div>
    <button mat-raised-button color="primary" (click)="addStore()">Add Store</button>
  </div>
  <div  *ngIf="seeStores === true" class="container-fluid">
    <p *ngIf="listStore.length === 0" class="text-warning text-center">No Store listed by Franchise</p>
    <div *ngIf="listStore && listStore.length" class="table-container">
      <div class="table-responsive">
        <table class="table align-middle gs-0 gy-4">
          <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 rounded-start">Store Title</th>
            <th class="ps-4 rounded-start">Store ID to Text</th>
            <th class="ps-4 rounded-start">Phone Number</th>
            <th class="ps-4 min-w-300px rounded-start">Hiring Manager</th>
            <th class="ps-4 rounded-start">Number of Positions</th>
            <th class="ps-4 rounded-start">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let store of listStore">
            <td>
              <div class="d-flex align-items-center">
                <span class="text-dark fw-bolder text-hover-primary fs-6">{{store.storeName}}</span>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="text-dark fw-bolder text-hover-primary fs-6">{{store.storeId}}</span>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="text-dark fw-bolder text-hover-primary fs-6">{{store.storePhoneNumber}}</span>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span class="text-dark fw-bolder text-hover-primary fs-6">{{store.storeHiringManager}}</span>
              </div>
            </td>
            <td>
              <div class="d-flex flex-shrink-0">
                <span class="text-center cursor-pointer" (click)="storeDetail(store.storeId, store.storeName, store)"  >
                  <ion-icon class="font-24" name="eye-outline"></ion-icon>
                  <p class="m-0">See Detail</p>
                </span>
              </div>
            </td>
              <td>
              <div class="d-flex flex-shrink-0">
                <button mat-icon-button color="warn" class="text-center cursor-pointer" (click)="deleteStore(store)" >
                  <ion-icon class="font-24" name="trash-outline"></ion-icon>
                </button>
              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <span *ngIf="seePositions === true">
      <app-jobs-list [storeId]="storeId"></app-jobs-list>
    </span> -->
  </div>
</div>
