.list-store {
  .list-store-item {
    cursor: pointer;
    width: 100%;
    padding: 8px 8px;
    padding-left: 0;
    &:hover {
      background-color: #ececec;
    }
    &.active {
      background-color: #17a2b8;
      mat-cell {
        color: #ffffff;
      }
    }
  }
}