<div class="card card-custom">
  <p *ngIf="stores.length <= 0">No Stores for this hiring manager</p>
  <div class="card-header flex-wrap border-0 pt-6 pb-0">
    <div class="card-title">
     <!-- <h3 class="card-label">Franchise Card</h3>-->
    </div>
    <!-- <div class="card-toolbar">
       <button class="btn btn-light-primary" (click)="export()">Export</button>
     </div>-->
  </div>
  <div class ="list-store" *ngIf="stores.length > 0">
    <mat-table [dataSource]="dataSource">
      <ng-container  matColumnDef="storeName">
        <mat-header-cell *matHeaderCellDef>Locations</mat-header-cell>
        <i class="fas fa-map-marker-alt"></i>
          <div class="list-store-item" [ngClass]="{'active': selectedItem == element.storeId}" *matCellDef="let element" (click)="getOpenPositionsByStore(element.storeId)">
            <mat-cell >{{element.storeName}}</mat-cell>
          </div>
        <i class="fas fa-angle-right"></i>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns "></mat-row>
    </mat-table>
  </div>
</div>
