<h2>
  Add Franchise 
</h2>
<form [formGroup]="addFranchiseForm" (ngSubmit)="onFormSubmit()" class="button-margin form-inline">

  <label for="businessLegalName"></label>
  <input style="margin: 5px;"  placeholder="Business Legal Name" id="businessLegalName" type="text" formControlName="businessLegalName" class="form-control">

  <label for="expectedHireRatePerMonth"></label>
  <input style="margin: 5px;"  placeholder="Expected Hire Rate" id="expectedHireRatePerMonth" type="text" formControlName="expectedHireRatePerMonth" class="form-control">

<label for="OwnersPhoneNumber"></label>
<input style="margin: 5px;"  placeholder="( _ _ _ ) _ _ _ - _ _ _ _" type="number" formControlName="OwnersPhoneNumber" id="OwnersPhoneNumber" class="form-control">

<label for="OwnersEmailAddress"></label>
<input style="margin: 5px;"  placeholder="Email Address" type="text" formControlName="OwnersEmailAddress" id="OwnersEmailAddress" class="form-control" >

<label style="margin: 5px;" for="OwnersPaymentMethod"></label>
<input style="margin: 5px;"  placeholder="Payment Method" type="text" formControlName="OwnersPaymentMethod" id="OwnersPaymentMethod" class="form-control" >


<label for="OwnersCommissionRate"></label>
<input style="margin: 5px;"  placeholder="Commission Rate" type="number" formControlName="OwnersCommissionRate" id="OwnersCommissionRate" class="form-control" >

<div style="margin: 10px;">
  <button type="button" (click)="addAgent()" status="primary" >Add Agent</button>
</div>



<div class="row button-margin">

  <!--<label for="ackAge">
    By checking this box, I certify that I am at least 18-years old, have the capacity to enter into legally binding contracts
  </label>
  <input  type="checkbox" formControlName="ackAge" id="ackAge" class="form-control" >
  <label for="acknowledgeToU">
    By checking this box, I certify that I have read and agree to the Terms of Use
  </label>
  <input  type="checkbox" formControlName="acknowledgeToU" id="acknowledgeToU" class="form-control">-->
</div>
</form>


    <button (click)="saveOwner()" type="submit" [disabled]="!ownerForm.valid" >Create Owner</button>
