<span *ngIf="!userAdded">
<form>
    <div class="form-row">
      <div class="form-group col-lg-7 col-sm-12">
    <ion-item lines="full">
      <ion-label position="stacked"  required>Email</ion-label>
      <ion-input clearInput #email type="email" formControlName="email" required placeholder="New Users Email .."></ion-input>
    </ion-item>
    <ion-item lines="full" class="uk-margin-bottom">
      <ion-label position="stacked" required>Password</ion-label>
      <ion-input clearInput #password type="password" formControlName="password" required placeholder="Enter password..."></ion-input>
    </ion-item>
      </div>
    </div>
  </form>
  <form [formGroup]="applicantDetailsForm">
  <div class="form-row">
    <div class="form-group col-lg-7 col-sm-12">
      <ion-item lines="full">
        <ion-label position="stacked" required>Full Name</ion-label>
        <ion-input clearInput type="text" formControlName="fullName" required></ion-input>
      </ion-item>

      <ion-item lines="full" class="uk-margin-bottom">
        <ion-label position="stacked" required>Phone Number</ion-label>
        <ion-input clearInput type="phoneNumber" formControlName="phoneNumber" required placeholder="Enter Phone Number"></ion-input>
      </ion-item>

    </div>
  </div>
</form>
  <ion-button (click)="registerApplicant(email, password)" size="small" color="success">Register</ion-button>
</span>
