<div class="modal-header">
  <p class="modal-title">Create OnBoarding Package</p>
  <button class="btn btn-clear close-modal" (click)="closeModal()">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<div class="card shadow-sm" style="overflow: auto">
  <div class="card-header d-flex flex-row justify-content-end align-items-center">
    <div *ngIf="!addCustomForm">
      <button (click)="addCustomFormButton()" mat-stroked-button color="primary" class="mr-4">
        Add Custom Form
      </button>
    </div>
    <div>
      <button (click)="submitCustomForms()" mat-raised-button color="primary">
        Save Onboarding Package
      </button>
    </div>
  </div>
  <div class="p-4">
    <form [formGroup]="federalForms">
      <div class="mb-10">
        <label class="required form-label">Onboard Package Name</label>
        <input type="text" formControlName="name" class="form-control form-control-solid" placeholder="Driver Onboard Package"/>
        <span class="field-err" *ngIf="federalForms.controls.name.errors?.required && (federalForms.controls.name.dirty || federalForms.controls.name.touched)">Onboard Package Name required</span>
      </div>
      <label class="required form-label">Select Forms to include</label>
      
      <div class="form-check form-check-custom form-check-solid ion-padding" *ngFor="let form of formInclude">
        <input class="form-check-input" type="checkbox" [value]="form.isChecked" [id]="form.id" [formControlName]="form.value"/>
        <label style="padding-left: 20px;" class="form-check-label" [for]="form.id">
          {{form.label}}
        </label>
      </div>
    </form>
    <div *ngIf="customFormsAdded">
      <form [formGroup]="customForms">
        <table class="table table-boarder">
          <thead class="no-wrap">
          <th>Form Name</th>
          <th></th>
          </thead>
          <tbody>
          <span *ngFor="let forms of formNames">
            <p>{{forms}}</p>
          </span>
          <ng-container formArrayName="onBoardingPackageName" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr [formGroupName]="i">
              <mat-form-field>
                <input matInput type="text" formControlName="fileName" value="{{formNames}}">
              </mat-form-field>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="addCustomForm === true">
    <label class="required form-label">Upload Custom Forms</label>
    <div class="row">
      <app-upload-list-form (uploadCompleteEvent)="formUploaded($event)" [storeId]="storeId"></app-upload-list-form>
    </div>
  </div>
  </div>
</div>
