<span *ngIf="!userAdded">
<form [formGroup]="userForm">
    <div class="form-row">
      <div class="col">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Email</ion-label>
          <ion-input clearInput type="email" formControlName="email" required placeholder="New Users Email .."></ion-input>
          <span class="field-err" *ngIf="userForm.controls.email.errors?.required && (userForm.controls.email.dirty || userForm.controls.email.touched)">Email is required</span>
        </ion-item>
      </div>
      <div class="col">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Password</ion-label>
          <ion-input clearInput type="password" formControlName="password" required placeholder="Enter password..."></ion-input>
          <span class="field-err" *ngIf="userForm.controls.password.errors?.required && (userForm.controls.password.dirty || userForm.controls.password.touched)">Password is required</span>
        </ion-item>
      </div>
    </div>
  </form>
  <form [formGroup]="registrationForm">
  <div class="form-row">
    <div class="col">
      <ion-item class="mb-3" lines="full">
        <ion-label position="stacked" required>Full Name</ion-label>
        <ion-input clearInput type="text" formControlName="fullName" required></ion-input>
        <span class="field-err" *ngIf="registrationForm.controls.fullName.errors?.required && (registrationForm.controls.fullName.dirty || registrationForm.controls.fullName.touched)">Full Name required</span>
      </ion-item>
    </div>
    <div class="col">
      <ion-item lines="full" class="mb-3">
        <ion-label position="stacked" required>Phone Number</ion-label>
        <ion-input clearInput type="phoneNumber" formControlName="phoneNumber" required placeholder="Enter Phone Number"></ion-input>
        <span class="field-err" *ngIf="registrationForm.controls.phoneNumber.errors?.required && (registrationForm.controls.phoneNumber.dirty || registrationForm.controls.phoneNumber.touched)">Phone Number required</span>
      </ion-item>
    </div>
    <div class="col-12">
      <ion-item class="mb-3">
        <ion-label position="stacked" required="true">Assign User a Role</ion-label>
        <ion-select class="form-control" placeholder="User Role" formControlName="role" name="User Role">
          <ion-select-option value="franchisee">Franchise</ion-select-option>
          <ion-select-option value="hiringManager">Hiring Manager</ion-select-option>
          <ion-select-option value="storeContact">Store Contact</ion-select-option>
          <ion-select-option value="applicant">Applicant</ion-select-option>
          <ion-select-option value="newHire">New Hire</ion-select-option>
          <ion-select-option value="admin">Admin</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</form>
<button mat-stroked-button color="primary" class="mt-3" (click)="registerStoreManagerUser()">Register</button>
</span>
<span *ngIf="userAdded" class="ion-padding">
  {{newUser.email}} created and sent verification email
</span>
