<div *ngIf="!userAdded" class="p-4">
  <form [formGroup]="userForm">
    <div class="form-row">
      <div class="col">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Email</ion-label>
          <ion-input clearInput type="email" formControlName="email" required placeholder="New Users Email .."></ion-input>
          <span class="field-err" *ngIf="userForm.controls.email.errors?.required && (userForm.controls.email.dirty || userForm.controls.email.touched)">Email is required</span>
        </ion-item>
      </div>
      <div class="col">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Password</ion-label>
          <ion-input clearInput type="password" formControlName="password" required placeholder="Enter password..."></ion-input>
          <span class="field-err" *ngIf="userForm.controls.password.errors?.required && (userForm.controls.password.dirty || userForm.controls.password.touched)">Password is required</span>
        </ion-item>
      </div>
    </div>
  </form>
  <form [formGroup]="storeManagerRegistrationForm">
    <div class="form-row">
      <div class="col-6">
        <ion-item class="mb-3" lines="full">
          <ion-label position="stacked" required>Full Name</ion-label>
          <ion-input clearInput type="text" formControlName="fullName" required></ion-input>
          <span class="field-err" *ngIf="storeManagerRegistrationForm.controls.fullName.errors?.required && (storeManagerRegistrationForm.controls.fullName.dirty || storeManagerRegistrationForm.controls.fullName.touched)">Full Name required</span>
        </ion-item>
      </div>
      <div class="col-6">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Phone Number</ion-label>
          <ion-input clearInput type="phoneNumber" formControlName="phoneNumber" required placeholder="Enter Phone Number"></ion-input>
          <span class="field-err" *ngIf="storeManagerRegistrationForm.controls.phoneNumber.errors?.required && (storeManagerRegistrationForm.controls.phoneNumber.dirty || storeManagerRegistrationForm.controls.phoneNumber.touched)">Phone Number required</span>
        </ion-item>
      </div>
      <div class="col-6">
        <ion-item class="mb-3">
          <ion-label position="stacked" required="true">Assign User a Role</ion-label>
          <ion-select class="form-control" placeholder="User Role" formControlName="role" name="User Role">
            <ion-select-option value="franchisee">Franchise</ion-select-option>
            <ion-select-option value="hiringManager">Hiring Manager</ion-select-option>
            <ion-select-option value="storeContact">Store Contact</ion-select-option>
            <ion-select-option value="applicant">Applicant</ion-select-option>
            <ion-select-option value="newHire">New Hire</ion-select-option>
            <ion-select-option value="admin">Admin</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div *ngIf="storeManagerRegistrationForm.controls.role.value === 'hiringManager'" class="col-6">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Calendly link</ion-label>
          <ion-input clearInput type="url" formControlName="calendarLink" required placeholder="Enter Calendly Link"></ion-input>
          <span class="field-err" *ngIf="storeManagerRegistrationForm.controls.calendarLink.errors?.required && (storeManagerRegistrationForm.controls.calendarLink.dirty || storeManagerRegistrationForm.controls.calendarLink.touched)">Calendly Link required</span>
          <span class="field-err" *ngIf="storeManagerRegistrationForm.controls.calendarLink.errors?.pattern && (storeManagerRegistrationForm.controls.calendarLink.dirty || storeManagerRegistrationForm.controls.calendarLink.touched)">Calendly Link Invalid</span>
        </ion-item>
      </div>
  </div>
</form>
<div class="d-flex flex-row justify-content-end">
  <button mat-stroked-button color="primary" class="mt-3" (click)="registerStoreManagerUser()">Register</button>
</div>
</div>
<span *ngIf="userAdded" class="ion-padding">
  {{newUser.email}} created and sent verification email
</span>
