<!--begin::Stepper-->
<mat-dialog-content>
  <mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
<mat-stepper linear>
  <mat-step [stepControl]="addStoreForm">
    <form [formGroup]="addStoreForm">
        <div class="form-row">
          <div class="form-group col-lg-7 col-sm-12">
            <ion-item lines="full">
              <ion-label position="stacked" required>Name of Store</ion-label>
              <ion-input clearInput type="text" formControlName="storeName" required></ion-input>
            </ion-item>

            <ion-item  lines="full">
              <ion-label position="stacked" required>Store Phone Number</ion-label>
              <ion-input clearInput type="text" formControlName="storePhoneNumber"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label position="stacked" required>Unique Store Identifier</ion-label>
              <h4 class="ion-padding-top">Unique Store Number (ID) Will Auto populate utilizing State abbreviation and last 4 of store number.<br> You will have the opportunity to change as long as it is unique to the system</h4>
            </ion-item>
            <div>
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button matStepperNext type="button">Next</button>
            </div>
          </div>
        </div>
      </form>
  </mat-step>

  <mat-step label="Store Address" style="margin-bottom: 20px;">
    <app-address-form class="headless" (messageEvent)="receiveAddressMessage($event)" [addressId]="addressId" [addressType]="addressType"></app-address-form>
    <button mat-button matStepperPrevious type="button">Back</button>
    <button (click)="addStore()" mat-button matStepperNext type="button">Next</button>
  </mat-step>
  <mat-step label="Register User For Store">
    <span *ngIf="!addingNewUser">
    <ion-button (click)="addNewUserToStore()">Create New User</ion-button>
      </span>
    <span *ngIf="addingNewUser">
      <app-register-user (addedUserEvent)="receiveUserMessage($event)" [franchiseId]="franchiseId" [storeId]="storeId"></app-register-user>
    </span>

    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Add Existing User</button>
    </div>
  </mat-step>

  <mat-step label="Add Another store" style="padding-bottom: 10px;">
    <h4>Your Unique StoreId that will be texted to the Hirenow number {{storeUniqueId}}</h4>
    <ion-button (click)="goBack(stepper)">Add Another Store</ion-button>
    <ion-button (click)="addNewUserToStore()">Add User to Store</ion-button>
    <!-- todo add table showing users by franchise to add them as hiring manager - show recap of user -->
  </mat-step>
  </mat-stepper>
  </mat-horizontal-stepper>
</mat-dialog-content>
<!--end::Stepper-->
<!--
<mat-step label="Add Store Manager">
  <app-register-user (addedUserEvent)="receiveUserMessage($event)" [franchiseId]="franchiseId"></app-register-user>
  <div>
    <button mat-button matStepperPrevious type="button">Back</button>
    <button mat-button matStepperNext type="button">Skip</button>
  </div>
</mat-step>-->
