<!--<app-alert></app-alert>-->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div id="inbox-list" class="side-menu">
          <p class="side-menu-title">HIRENOW.US</p><br>
          <p class="side-menu-subtitle">Software - Registered Trademark</p>

          <div *ngIf="authService.appUserData">
            <div><span>Role name:</span><span class="role-name"> {{getUserRoleName()}}</span></div>
            <button class="mt-3" mat-stroked-button color="primary" (click)="goProfile()"  *ngIf="getUserRole() === 'hiringManager' && !isProfilePage">Go profile</button>
            <div *ngIf="getUserRole() === 'hiringManager' && !isProfilePage">
              <app-stores-by-hiring-manager [storeManagerId] ="authService.appUserData?.email"></app-stores-by-hiring-manager>
            </div>
            <div *ngIf="getUserRole() === 'franchisee'">
              <app-stores-list-by-franchise></app-stores-list-by-franchise>
            </div>
          </div>
          <span *ngIf="authService.appUserData">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" (click) ="goToPage(p.url)" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </span>
        </div>
      </ion-content>
    </ion-menu>
   <!-- <app-alert></app-alert>-->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
