<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding-top">
    <div class="row">
      <div class="col-md-3">
        <a routerLinkActive="active" routerLink="/admin/admin-franchise-list"><div  class="user-options">List Franchises</div></a>
      </div>
      <div class="col-md-3">
        <a routerLinkActive="active" routerLink="/admin/admin-list-stores"><div id="user-options" class="user-options">List Stores</div></a>
      </div>
      <div class="col-md-3">
        <a routerLinkActive="active" routerLink="/admin/admin-add-franchise"><div class="user-options">Add Franchise</div></a>
      </div>
      <div class="col-md-3">
        <a routerLinkActive="active" routerLink="/admin-metrics"><div class="user-options">Get Metrics</div></a>
      </div>
    </div>
  </div>

</ion-content>
