<div class="modal-header">
  <p class="modal-title">Send Package</p>
  <button class="btn btn-clear close-modal" (click)="closeModal()">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<mat-dialog-content class="send-package">
  <mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
    <mat-stepper linear>
      <mat-step label="Select onboading package">
        <div class="card shadow-sm">
          <div class="card-header send-package-title p-0">
            <h3 class="card-title m-0 ">Create On Boarding package for {{applicant.applicant.name}}</h3>
            <div class="card-toolbar m-0">
              <button mat-stroked-button matStepperNext color="primary">Next</button>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table align-middle">
                <thead>
                <tr class="fw-bolder text-muted bg-light">
                  <th class="ps-4 rounded-start">Select</th>
                  <th class="ps-4 min-w-300px rounded-start">On Board Package Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let p of onBoardingPackages">
                  <td class="form-check form-check-sm form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" value="{{p.id}}" [(ngModel)]="p.isChecked" style="position: initial;">
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <p class="text-dark fw-bolder text-hover-primary fs-6"> {{p.packages.name}}</p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Upload custom form">
        <div class="card shadow-sm">
          <div class="card-header">
            <h3 class="card-title">Add forms to package {{applicant.applicant.name}}</h3>
            <div class="card-toolbar">
              <button mat-stroked-button matStepperNext color="primary">Next</button>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="customFormsAdded">
              <form [formGroup]="customForms">
                <table class="table table-boarder">
                  <thead class="no-wrap">
                  <th>Form Name</th>
                  <th></th>
                  </thead>
                  <tbody>
                  <ng-container formArrayName="onBoardingPackageName" *ngFor="let group of getFormControls.controls ; let i=index">
                    <tr [formGroupName]="i">
                      <mat-form-field>
                        <input matInput type="text" formControlName="name">
                      </mat-form-field>
                      <span>{{ group.get('fileName').value }}</span>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </form>
            </div>
            <div *ngIf="!customFormsAdded">
              <label class="required form-label">Upload Custom Forms</label>
              <div class="row">
                <app-upload-list-form (uploadCompleteEvent)="formUploaded($event)" [storeId]="storeId"></app-upload-list-form>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- <mat-step label="">
        <div class="row">
          <div class="col-4">
            <ion-item lines="full" class="input-calendar">
              <ion-label position="stacked" required>Expiration Date</ion-label>
              <input matInput [matDatepicker]="picker1" [disabled]="true" [(ngModel)]="startDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </ion-item>
          </div>
          <div class="col-8 d-flex justify-content-end align-items-center">
            <button mat-stroked-button matStepperNext color="primary">Next</button>
          </div>
        </div>
      </mat-step> -->
      <mat-step>
        <div class="card shadow-sm">
          <div class="card-header">
            <h3 class="card-title">Select Start Date and Send Onboarding forms to {{applicant.applicant.name}}</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <form [formGroup]="startDateForm">
                  <ion-item lines="full" class="input-calendar">
                    <ion-label position="stacked" required>Start Date *</ion-label>
                    <input [min]="minDate" matInput [matDatepicker]="picker1" [disabled]="true" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                    <span class="field-err"
                          *ngIf="startDateForm.controls.startDate.errors?.required && (startDateForm.controls.startDate.dirty || startDateForm.controls.startDate.touched)">Start
              Date required</span>
                  </ion-item>
                </form>
              </div>
            </div>

          </div>
          <div class="card-toolbar">
            <button (click)="sendOnboardingLinkToApplicant(applicant)" mat-raised-button color="primary" matStepperNext>Send Package</button>
          </div>
        </div>
      </mat-step>

    </mat-stepper>
  </mat-horizontal-stepper>
</mat-dialog-content>



