
<div class="modal-header">
  <p class="modal-title">Add Position</p>
  <button class="btn btn-clear close-modal" (click)="closeModal()">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
    <mat-stepper linear>

      <mat-step [stepControl]="addJoblistingFrom" [editable]="true">
        <form [formGroup]="addJoblistingFrom">
          <ng-template matStepLabel>Position Details</ng-template>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <ion-item lines="full">
                <ion-label position="stacked">Requirement Number *</ion-label>
                <ion-input clearInput type="text" formControlName="recNumber" id="recNumber" required></ion-input>
                <span class="field-err" *ngIf="addJoblistingFrom.controls.recNumber.errors?.required && (addJoblistingFrom.controls.recNumber.dirty || addJoblistingFrom.controls.recNumber.touched)">Requirement Number required</span>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Job Title *</ion-label>
                <ion-input clearInput type="text" formControlName="jobTitle" required></ion-input>
                <span class="field-err" *ngIf="addJoblistingFrom.controls.jobTitle.errors?.required && (addJoblistingFrom.controls.jobTitle.dirty || addJoblistingFrom.controls.jobTitle.touched)">Job Title required</span>

              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Location (will be drop down with store addresses) *</ion-label>
                <ion-input clearInput type="text" formControlName="location"></ion-input>
                <span class="field-err"
                *ngIf="addJoblistingFrom.controls.location.errors?.required && (addJoblistingFrom.controls.location.dirty || addJoblistingFrom.controls.location.touched)">Location required</span>

              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Job Type</ion-label>
                <select class="form-select text-center " id="state" formControlName="jobType"  type="select">
                  <option value="fullTime">Full-Time</option>
                  <option value="partTime">Part-Time</option>
                </select>
              </ion-item>
              <ion-item lines="full">
                <ion-textarea formControlName="shortDescription" placeholder="Enter short description..."></ion-textarea>
              </ion-item>
            </div>
            <div class="col-lg-6">
              <ion-item lines="full">
                <ion-label position="stacked" required>Number of Hires for this role *</ion-label>
                <ion-input clearInput type="text" formControlName="numberOfOpenSlots"></ion-input>
                <span class="field-err" *ngIf="addJoblistingFrom.controls.numberOfOpenSlots.errors?.required && (addJoblistingFrom.controls.numberOfOpenSlots.dirty || addJoblistingFrom.controls.numberOfOpenSlots.touched)">Number of Hires required</span>

              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Expiration Date *</ion-label>
                <ion-input clearInput type="text" formControlName="positionExpiration"></ion-input>
                <span class="field-err" *ngIf="addJoblistingFrom.controls.positionExpiration.errors?.required && (addJoblistingFrom.controls.positionExpiration.dirty || addJoblistingFrom.controls.positionExpiration.touched)">Expiration Date required</span>

              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Salary</ion-label>
                <ion-input clearInput type="text" formControlName="salary"></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked" required>Company WebSite</ion-label>
                <ion-input clearInput type="text" formControlName="companyWebsite"></ion-input>
              </ion-item>
              <ion-item appearance="fill">
                <ion-label position="stacked" >Select Onboarding Package</ion-label>
                <select class="form-select" formControlName="onboardingPackage" type="select">
                  <option value="" *ngIf="onboardingPackagesData.length === 0">No onboarding package</option>
                  <option [value]="package.name" *ngFor="let package of onboardingPackagesData">
                    {{package.name}}
                  </option>
                </select>
              </ion-item>
            </div>
            <div class="col-md-12">
              <div class="d-flex flex-row justify-content-end">
                <button mat-stroked-button matStepperPrevious class="mr-4">Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="jobDetailsFrom" label="Job Description" class="mb-4"  [editable]="true">
        <form [formGroup]="jobDetailsFrom">
          <div class="form-group">
            <label class="form-label">Full Description</label>
            <textarea class="form-control" auto-grow formControlName="fullDescription" placeholder="Enter Full Job Description..."></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Benefits</label>
            <textarea class="form-control" auto-grow formControlName="benefits" placeholder="If Available"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Qualifications</label>
            <textarea class="form-control" auto-grow formControlName="qualifications" placeholder="Any Extra Qualifications?"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Notes</label>
            <textarea class="form-control" auto-grow formControlName="specialNotes" placeholder="Extra Notes ie: Remote, Drug Screen"></textarea>
          </div>
        </form>
        <div class="d-flex flex-row justify-content-end">
          <button mat-stroked-button matStepperPrevious class="mr-4">Back</button>
          <button (click)="addJobListing(stepper)" mat-raised-button color="primary" type="button">Add Job Listing</button>
        </div>
      </mat-step>
      <mat-step label="Add Another Position" class="mb-4" [editable]="false">
        <div class="col-md-12">
          <div class="d-flex flex-row justify-content-end">
            <button (click)="stepper.reset()" mat-raised-button color="primary" class="mr-4">Add Another Listing</button>
            <button (click)="closeModal()" mat-stroked-button color="primary">Done</button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-horizontal-stepper>
</mat-dialog-content>

