<ion-header>
  <ion-toolbar>
    <ion-title>Store Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h3>Open Job Requisitions</h3>
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
        <h3>Applicant Status</h3>

        <div class="card-body">

        </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
