<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{franchiseOwner}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-3 ion-padding">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Franchises</mat-card-title>
              <mat-card-subtitle>20</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-3 ion-padding">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title >Open Positions</mat-card-title>
              <mat-card-subtitle >10/20</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-3 ion-padding">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Interviews Completed </mat-card-title>
              <mat-card-subtitle>5/20</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-3 ion-padding">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Hiring <br>Managers</mat-card-title>
              <mat-card-subtitle>5/20</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a (click)="addStore()"><div class="user-options">Add Store</div></a>
      </div>
      <div class="col-md-4">
        <a (click)="addJobRec()"><div class="user-options">Add Job Rec</div></a>
      </div>
      <!--<div class="col-md-3">
       <a routerLinkActive="active" routerLink="/franchise/store-calendar"><div class="user-options">List Stores</div></a>
      </div>-->
      <div class="col-md-4">
        <a (click)="addUser()"><div class="user-options">Add User</div></a>
      </div>
    </div>
    <span *ngIf="!isLoading">
    <app-store-list-by-franchise [franchiseId]="franchiseId"></app-store-list-by-franchise>
    <div class="row">
      <div class="col-md-12">
        <app-jobs-list (messageEvent)="receiveFranchiseIdMessage($event)"></app-jobs-list>
      </div>
    </div>
    </span>
  </div>
</ion-content>
