<ion-header>
  <ion-toolbar>
    <ion-title>Welcome {{franchiseOwner}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ion-padding-top">
    <div class="row">
      <div class="col-md-3">
        <a href=""><div  class="user-options">Add Store</div></a>
      </div>
      <div class="col-md-3">
        <a href=""><div  class="user-options">Add Job Rec</div></a>
      </div>
      <div class="col-md-3">
        <a href=""><div  class="user-options">List Stores</div></a>
      </div>
      <div class="col-md-3">
        <a href=""><div  class="user-options">Add User</div></a>
      </div>
    </div>

  </div>
</ion-content>
