/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
@import "~bootstrap/dist/css/bootstrap.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~src/sms-text-app.scss";
/*@import "~src/assets/metronic-them.scss";*/
.side-menu{
  --side-max-width: 200px;
}
.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: white;
  color: black;
}
.mat-vertical-stepper-header{
  height: 10px;
}
.mat-dialog-content{
  height: 700px;
}

.sc-ion-modal-md-h{
  height: 700px !important;
}
.mat-table{
  background-color: transparent;
  color: #121212;
}
.mat-cell{
  color: #121212;
  font-size: 14px;
}
.mat-header-cell{
  color: #121212;
  font-size: 16px;
}
.mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-bottom-color: #EBEDF3;
}



