$primary: #fe5f67;

body {
    position: relative;
    font-family: "Gilmer", sans-serif !important;
    font-weight: 500;
    color: #444;
    line-height: 1.7;
    margin: 0;
}
#torso {
    overflow: hidden;
}
section {
    background-color: #fff;
    position: relative;
}
a {
    color: #ee2f2e;
    text-decoration: none;
}
@media only screen and (min-width: 960px) {
    body {
        font-size: 1.125rem;
    }
}
@font-face {
    font-family: "Gilmer";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Gilmer"), url("./assets/fonts/Gilmer-Regular.woff") format("woff");
}
@font-face {
    font-family: "Gilmer";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Gilmer Medium"), url("./assets/fonts/Gilmer-Medium.woff") format("woff");
}
@font-face {
    font-family: "Gilmer";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Gilmer Bold"), url("./assets/fonts/Gilmer-Bold.woff") format("woff");
}
@font-face {
    font-family: "Gilmer";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Gilmer Heavy"), url("./assets/fonts/Gilmer-Heavy.woff") format("woff");
}
*[class*="cstl-container"] {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
*[class*="cstl-container"]:not(.cstl-container-naked) {
    position: relative;
}
.cstl-main-content-margin{
    margin-top:125px;
}
.cstl-container-narrow {
    max-width: 960px;
}
.cstl-container-large {
    max-width: 1400px;
}
.cstl-container-narrow-micro {
    max-width: 800px;
}
.cstl-container-micro {
    max-width: 720px;
}
.cstl-container-micro-nano {
    max-width: 650px;
}
.cstl-container-nano {
    max-width: 550px;
}
.cstl-container-nano-pico {
    max-width: 455px;
}
.cstl-container-pico {
    max-width: 360px;
}
.cstl-container-quantum {
    max-width: 270px;
}
.cstl-container-quark {
    max-width: 200px;
}
.cstl-text-white {
    color: #fff !important;
}
.cstl-text-white h1,
.cstl-text-white h2,
.cstl-text-white h3,
.cstl-text-white h4,
.cstl-text-white h5,
.cstl-text-white h6,
.cstl-text-white p,
.cstl-text-white li {
    color: #fff;
}
.cstl-text-primary {
    color: #fe5f67 !important;
}
.cstl-text-blue {
    color: #5fb7fe !important;
}
.cstl-faded {
    opacity: 0.6;
}
.cstl-bg-eggshell {
    background-color: #eee !important;
}
.cstl-bg-darkeggshell {
    background-color: #e6e6e6 !important;
}
.cstl-bg-primary {
    background-color: $primary !important;
}
.cstl-bg-black {
    background-color: #444 !important;
}
[class*="cstl-padding"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cstl-padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.cstl-padding-y,
.cstl-padding-y-block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.cstl-padding-top-block {
    padding-top: 50px;
}
.cstl-padding-bottom-block {
    padding-bottom: 50px;
}
.cstl-padding-y-half,
.cstl-padding-y-2-3 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.cstl-padding-x {
    padding-left: 15px;
    padding-right: 15px;
}
.cstl-padding-top {
    padding-top: 50px;
}
.cstl-padding-bottom {
    padding-bottom: 50px;
}
.cstl-padding-top-half,
.cstl-padding-top-2-3 {
    padding-top: 25px;
}
.cstl-padding-bottom-half,
.cstl-padding-bottom-2-3 {
    padding-bottom: 25px;
}
.cstl-padding-perfect {
    padding: 50px;
}
.cstl-padding-perfect-x {
    padding-left: 30px;
    padding-right: 30px;
}

.cstl-width-1-1 {
    width: 100%;
}

.cstl-navbar {
    position: relative;
    z-index: 9999;
}

.all-red {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $primary;
        z-index: -1;
        pointer-events: none;
    }
}

@media only screen and (min-width: 960px) {
    .cstl-padding {
        padding-top: 100px;
        padding-bottom: 130px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .cstl-padding-y {
        padding-top: 100px;
        padding-bottom: 130px;
    }
    .cstl-padding-y-2-3 {
        padding-top: 66.6666666667px;
        padding-bottom: 86.6666666667px;
    }
    .cstl-padding-x {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cstl-padding-y-half {
        padding-top: 50px;
        padding-bottom: 65px;
    }
    .cstl-padding-top {
        padding-top: 100px;
    }
    .cstl-padding-bottom {
        padding-bottom: 130px;
    }
    .cstl-padding-top-2-3 {
        padding-top: 66.6666666667px;
    }
    .cstl-padding-bottom-2-3 {
        padding-bottom: 86.6666666667px;
    }
    .cstl-padding-top-half {
        padding-top: 50px;
    }
    .cstl-padding-bottom-half {
        padding-bottom: 65px;
    }
    .cstl-padding-perfect {
        padding: 100px 50px;
    }
    .cstl-padding-perfect-x {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (min-width: 1200px) {
    .cstl-padding {
        padding-top: 100px;
        padding-bottom: 130px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .cstl-padding-y {
        padding-top: 100px;
        padding-bottom: 130px;
    }
    .cstl-padding-y-2-3 {
        padding-top: 66.6666666667px;
        padding-bottom: 86.6666666667px;
    }
    .cstl-padding-x {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cstl-padding-y-half {
        padding-top: 50px;
        padding-bottom: 65px;
    }
    .cstl-padding-top {
        padding-top: 100px;
    }
    .cstl-padding-bottom {
        padding-bottom: 130px;
    }
    .cstl-padding-top-2-3 {
        padding-top: 66.6666666667px;
    }
    .cstl-padding-bottom-2-3 {
        padding-bottom: 86.6666666667px;
    }
    .cstl-padding-top-half {
        padding-top: 50px;
    }
    .cstl-padding-bottom-half {
        padding-bottom: 65px;
    }
    .cstl-padding-perfect {
        padding: 100px 50px;
    }
    .cstl-padding-perfect-x {
        padding-left: 50px;
        padding-right: 50px;
    }
    .cstl-padding-extra-x {
        padding-left: 100px;
        padding-right: 100px;
    }
}
.cstl-margin-none {
    margin: 0;
}
.cstl-margin-top-none {
    margin-top: 0;
}
.cstl-margin-bottom-none {
    margin-bottom: 0;
}
.cstl-margin-top-small {
    margin-top: 15px;
}
.cstl-margin-top-quantum {
    margin-top: 5px;
}
.cstl-height-1-1 {
    height: 100% !important;
}
.cstl-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.cstl-flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cstl-flex-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cstl-flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.cstl-text-muted {
    opacity: 0.5;
}
.cstl-text-center {
    text-align: center;
}
.cstl-text-thin {
    font-weight: 300;
}
.cstl-text-lowercase {
    text-transform: lowercase;
}
.cstl-text-bold {
    font-weight: bold;
}
.cstl-text-white {
    color: #fff;
}
.cd-logo {
    height: 30px;
    width: auto;
    display: inline-block;
}
.cstl-input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 20px;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cstl-input:focus {
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
textarea.cstl-input {
    font-family: "Gilmer", sans-serif !important;
    line-height: 28px;
    height: 120px;
    width: 100%;
    resize: none;
}
.cd-margin-right {
    margin-right: 15px;
}
.cstl-button {
    -webkit-appearance: none;
    border: none;
    -webkit-box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.25);
    background: #fe5f67;
    color: #fff;
    border-radius: 4px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    font-size: 1.125rem;
}
#app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    background: #fe5f67;
}
#app-billboard {
    z-index: 777;
    position: relative;
}
#app-content {
    z-index: 666;
    position: relative;
    background: #fff;
    min-height: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#app-footer {
    z-index: 777;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-sticky-background {
    background: #fe5f67;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe5f67), color-stop(50%, #fe5f67), color-stop(50%, #fff), to(#fff));
    background: linear-gradient(#fe5f67, #fe5f67 50%, #fff 50%, #fff 100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-avatar {
    width: 300px;
    height: 300px;
    display: block;
    margin: -25px auto 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    bottom: -40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-avatar-profile {
    width: 120px;
    height: 120px;
    display: block;

    background: #fff;
    -webkit-box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-avatar img {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.cd-back-button,
.cd-restart-button {
    font-weight: 300;
    text-transform: lowercase;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-back-button::before,
.cd-restart-button::before {
    font-family: "Ionicons";
    content: "\f3d5";
    margin: 0 5px 0 0;
}
body[cd-step="1"] .cd-back-button {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body[cd-step="4"] .cd-back-button {
    display: none;
}
body[cd-step="4"] .cd-restart-button {
    display: inline-block;
}
body[cd-step="4"] .cd-step-counter {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body[cd-step="4"] .cd-sticky-background {
    background: -webkit-gradient(linear, left top, left bottom, from(#fe5f67), color-stop(50%, #fe5f67), color-stop(50%, #fe5f67), to(#fe5f67));
    background: linear-gradient(#fe5f67, #fe5f67 50%, #fe5f67 50%, #fe5f67 100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body[cd-step="4"] #app-content,
body[cd-step="4"] #app-footer {
    background: rgba(255, 255, 255, 0);
    border-color: #fff;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body[cd-step="4"] #app-content p,
body[cd-step="4"] #app-content a,
body[cd-step="4"] #app-footer p,
body[cd-step="4"] #app-footer a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body[cd-step="4"] .cd-avatar {
    bottom: -90px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-step-counter {
    display: inline-block;
    font-weight: 300;
    text-transform: lowercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cd-border-top {
    position: relative;
}
.cd-border-top::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    top: 0;
    left: 15px;
    background: #eee;
}
.step-frame {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.step-frame.hidden-frame {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
h1 {
    font-size: 1.875rem;
    line-height: 1.2;
}

app-tab4 {
    main {
        background-color: $primary;
    }
}

@media only screen and (min-width: 1200px) {
    .cd-border-top::before {
        width: 100%;
        left: 0;
    }
    .step-frame {
        left: calc(50% - 600px);
    }
}
.user-options{
  display:block;
  width:auto;
  height:150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  margin:0 10px 10px 0;
  padding:10px 21px;
  text-transform:uppercase;
  font-family:'Arial';
  font-weight:400;
  font-size:16px;
  text-transform: uppercase;
  color:white; /*#3e3e3e;*/
  background:#53b7e8; /*#7cb289;*/
  border-bottom:1px solid #343434;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  float: left;
}
.margin-for-buttons{
  padding: 25px;
}
/*# sourceMappingURL=master.css.map */
