

<div class="container-fluid">
  <div class="modal-header">
    <p class="modal-title">Applicants for <span *ngIf="positionData">{{positionData.jobTitle}}</span></p>
    <button class="btn btn-clear close-modal" (click)="sendMessageGoBackToJobsList()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="">
    <p class="mb-4 mt-4">Using the drop downs, select actions to be performed for each applicant. The applicants selected with the checkbox will perform the actions when submit is pressed</p>
  </div>

  <p *ngIf="applicants.length <= 0" class="text-center text-warning bold">No Applicants for this position</p>
  <div></div>
  <div *ngIf="applicants.length" class="card-body">
    <div class="table-responsive" style="height: 300px;">
      <table class="table align-middle gs-0 gy-4">
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 rounded-start">Name</th>
          <th class="ps-4 rounded-start">Schedule Status</th>
          <th class="ps-4 rounded-start">Phone Number</th>
          <th class="ps-4 rounded-start">Select Action</th>
          <th class="ps-4 rounded-start">Submit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of applicants">
          <td>
            <div class="d-flex align-items-center">
              <p class="text-dark fw-bolder text-hover-primary fs-6"> {{a.applicant.name}}</p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="text-dark fw-bolder text-hover-primary fs-6"> {{a.applicant.status}}</p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="text-dark fw-bolder text-hover-primary fs-6">{{a.applicant.phoneNumber}}</p>
            </div>
          </td>
          <td>
            <select class="form-select" [(ngModel)]="a.actionStatus">
              <option value="" selected>Applicant Next Steps</option>
              <option value="scheduleInterview">Schedule Interview</option> 
              <option value="interviewApplicant">Interview Applicant</option>
              <option value="hireApplicant">Hire Applicant</option>
              <option value="onboardingComplete">OnBoard Complete</option>
              <option value="applicantDeclined">Decline Applicant</option>
            </select>
          </td>
          <td>
            <div>
              <button mat-raised-button color="primary" class="mr-3" (click)="submitForm(a)">Update</button>
              <!-- <button mat-raised-button>Notes</button> -->
              <!-- <button mat-raised-button color="warn" (click)="deleteApplicant(a)">Delete</button> -->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

