

  <p *ngIf="applicants.length <= 0">No Applicants for this position</p>
  <div class ="mat-elevation-z8 container-fluid">
    <div class="card card-header">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Applicants for (position name)</span>
      </h3>
      <p>Using the drop downs, select actions to be performed for each applicant. The applicants selected with the checkbox will perform the actions when submit is pressed</p>
      <ion-item>
      <ion-button fill="outline" size="default" color="secondary"  (click)="sendMessageGoBackToJobsList()">BACK</ion-button>
        <!--<ion-button fill="outline" size="default" color="primary"  (click)="sendMessageGoBackToJobsList()">Submit</ion-button>-->
      </ion-item>
    </div>
    <div class="card-body">
      <div class="card mb-5 mb-xl-8">
        <div class="card-body py3">
          <div class="table-responsive">
            <form [formGroup]="actionsFrom">

            <table class="table align-middle gs-0 gy-4">
              <thead>
              <tr class="fw-bolder text-muted bg-light">
                <!--<th class="ps-4 min-w-300px rounded-start">Select</th>-->
                <th class="ps-4 min-w-300px rounded-start">Name</th>
                <th class="ps-4 min-w-300px rounded-start">Schedule Status</th>
                <!--<th class="ps-4 min-w-300px rounded-start">Add Feed Back</th>-->
                <th class="ps-4 min-w-300px rounded-start">Phone Number</th>
                <th class="ps-4 min-w-300px rounded-start">Select Action</th>
               <!-- <th class="ps-4 min-w-300px rounded-start">Actions</th>-->
                <th class="ps-4 min-w-300px rounded-start">Submit</th>
              </tr>
              </thead>
              <tbody>
              <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
              <tr *ngFor="let a of applicants" [formGroupName]="i">

                <td>
                  <div class="d-flex align-items-center">
                   <input class="visually-hidden" type="hidden" id="applicantId" [(ngModel)]="a.id" formControlName="applicantId" name="applicantId" value="{{a.id}}">
                    <p class="text-dark fw-bolder text-hover-primary fs-6">{{a.applicant.name}}</p>
                  </div>
                </td>
               <td>
                  <div class="d-flex align-items-center">
                    <p class="text-dark fw-bolder text-hover-primary fs-6">{{a.applicant.status}}</p>
                  </div>
                </td>
               <!-- <td>
                  <div class="d-flex align-items-center">
                    <input class="input-group">
                  </div>
                </td>-->
             <td>
                  <div class="d-flex align-items-center">
                    <p class="text-dark fw-bolder text-hover-primary fs-6">{{a.applicant.phoneNumber}}</p>
                  </div>
                </td>
                <td class="row">
                  <select formControlName="actions" class="form-select form-select-lg text-center">
                    <option selected>Applicant Next Steps</option>
                    <option value="scheduleInterview">Schedule Interview</option>
                    <option value="interviewCompleted">Interview Completed</option>
                    <option value="hireApplicant">Hire Applicant</option>
                    <option value="onBoardComplete">OnBoard Complete</option>
                    <option value="applicantDeclined">Decline Applicant</option>
                  </select>
                </td>
                    <!--<td>
                      <i class="fa fa-chevron-circle-down"></i>
                      <br><p>Move Applicant</p>
                     <select class="text-center">
                       <option>Send SMS</option>
                       <option>Reschedule</option>
                       <option>Add Notes</option>
                       <option>Decline</option>
                     </select>
                    </td>-->
                  <td>

                  <ion-item>
                    <div class="action-container">
                      <!-- <button mat-raised-button type="submit" (click)="addRow()">Add row</button>-->
                      <button mat-raised-button [disabled]="actionsFrom.invalid" type="submit" (click)="submitForm()">Update Applicant</button>
                    </div>
                    <ion-button class="float-left" fill="outline" size="default" color="primary">Notes</ion-button>
                  </ion-item>

                </td>

              </tr>
              </ng-container>
              </tbody>
            </table>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

