<p>
  create-new-hire-package works!
</p>
<div class="container" style="width:600px">
  <div>
    <h3>hirenow.us</h3>
    <h4>{{ title }}</h4>
  </div>
    <h3>Federal Forms are Automatic, I9, W4 and State W4. Is there anything else you would like to add to the On Boarding packet for this position?</h3>
    <div class="row">
      <app-upload-form></app-upload-form>
    </div>
    <button mat-button matStepperPrevious type="button">Back</button>
  <div class="my-3">
    <app-upload-form></app-upload-form>
  </div>

  <div class="my-2">
    <app-upload-list></app-upload-list>
  </div>
</div>
