<ion-header>
  <h1 class="ion-padding">Restricted Area Administration Use Only</h1>
</ion-header>
<ion-content>
  <div class="container">
  <form class="mt-4"> 
    <div class="form-row">
      <div class="col-md-6 offset-md-3">
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Email *</ion-label>
          <ion-input clearInput type="text" #email required placeholder="Your email..."></ion-input>
        </ion-item>
        <ion-item lines="full" class="mb-3">
          <ion-label position="stacked" required>Password *</ion-label>
          <ion-input clearInput type="password" #password required placeholder="Enter password..."></ion-input>
        </ion-item>
        <div class="d-flex flex-row align-item-center justify-content-center mt-4 mb-4">
          <button class="btn-large" mat-raised-button color="primary" (click)="adminLogin(email, password)">Login</button>
        </div>
        <a routerLink="/login" expand="block" size="small" fill="clear" >I am not administrator go back to login</a>
      </div>
    </div>
  </form>

  </div>
</ion-content>
